/* ===== PRODUTOS ===== */

.produtos-page {
  padding: 20px;
}

.produtos-header h1 {
  font-size: 28px;
}

.produtos-header p {
  color: #777;
  margin-bottom: 20px;
}

/* GRID */
.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

/* CARD */
.produto-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: transform .3s;
}

.produto-card:hover {
  transform: translateY(-6px);
}

.produto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.produto-info {
  padding: 15px;
}

.produto-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.produto-info p {
  font-size: 14px;
  color: #666;
  height: 40px;
  overflow: hidden;
}

.produto-info span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e60000;
}

/* BOTÃO FLUTUANTE */
.btn-add {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #e60000;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(230,0,0,0.4);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  width: 320px;
  padding: 20px;
  border-radius: 16px;
}

.modal-box h2 {
  margin-bottom: 15px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background: #e60000;
  color: #fff;
}

.modal-actions button:last-child {
  background: #ddd;
}

.erro-login {
  background: #ffe5e5;
  color: #b00000;
  border: 1px solid #ffb3b3;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  animation: shake 0.3s ease;
}

/* animação leve */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

